[2019-07-30 20:07] LoadingUser3 opened #2 "Issue test"
Checking on who gets notified when an issue is submitted.

[2019-08-02 03:02] Maker-Mark opened #4 "Insering a user into the database Sets the Username as the Password and the password as the username"
Found an error where signing up a user puts the username as the password and the password as the username in the database.
A major issue now is that in order to search for a user made, you need to supply the password.
As a result, you can't make two users with the same password, as it seems like username is supposed to be unique. Please review the screenshots below as to how I got here.
![image](h

[2019-08-02 03:15] #4 closed, assigned to nobody

[2019-08-07 17:07] AlvinH349 opened #5 "frontend syntax error"
Hi frontend, I found a problem in your HTML file called base that revolves around the left container and there is need a fix for layout2 with sign out. Make sure the class = "copyrightParag" has quotation marks. Please check other syntax errors. I tried to fix it on my own in the branch experimentaltest1.

[2019-08-08 19:47] LoadingUser3 opened #8 "Backend: Template and Request Issues in calling_api.py"
After updating the local repo for the Template changes, I tried to run calling_api.py again and found the following errors:

### --Template Not Found--

### **Logging into: http://localhost/login/**

### **Error received:**
<img width="873" alt="Screen Shot 2019-08-08 at 3 31 47 PM" src="https://user-images.githubusercontent.com/47548948/62732146-abacdb80-b9f1-11e9-85c5-f17935798ba2.png">

_-Loggi

[2019-08-08 19:48] #2 closed, assigned to nobody

[2019-08-09 04:23] Maker-Mark opened #10 "Issues with class DB refactoring. 'find_users' is not defined. Class prefix missing"
Replicated when signing up a user.
The DB module runs, however the function `find_users('username', username)` is not working.
![image](https://user-images.githubusercontent.com/40143016/62753977-e5a2cf80-ba3b-11e9-9d2d-c59134c74e49.png)

[2019-08-09 15:05] Maker-Mark opened #11 "Database Issue: Column 'portId' cannot be null"
Replicated when adding a new post given the parameters asked for by the add_post method
![image](https://user-images.githubusercontent.com/40143016/62788672-6346f980-ba95-11e9-91d1-336f307ca4d8.png)

[2019-08-10 15:11] Maker-Mark opened #12 "Data base Get all posts by port name or allow getting port id given a port name"
The two options to get all posts by looks to be either by author, or by id. Could you add the ability to get all posts by port name, too? Or is it better to get the port ID by the given port name first, then try and insert given that id? If so, please point me to a way to get the port ID from the port name.
![image](https://user-images.githubusercontent.com/40143016/62823482-2e06de00-bb5f-11e9-827

[2019-08-10 15:39] #12 closed, assigned to chalshaff12, Maker-Mark

[2019-08-10 15:46] Maker-Mark opened #13 "DB: NameError When Adding new post"
The post adds successfully, however I get a NameError saying name 'author' is not defined.

[2019-08-10 15:49] #13 closed, assigned to nobody

[2019-08-10 17:04] Maker-Mark opened #14 "Database: No title response given for posts"
When getting a post, the title is not given in the response.
I added a method that allows finding and returning a post by post text (not a good idea lol).
If I could get the title, then i can just respond to the add post with the new post that was just added simply by looking for one with the same title (since they are unique)
![image](https://user-images.githubusercontent.com/40143016/62824646-35

[2019-08-11 00:15] #8 closed, assigned to Maker-Mark

[2019-08-11 01:42] mary060196 opened #15 "Database Team - Image Key Missing in 'Posts' Table"
The 'CreateDBTables.sql' document is missing an 'image' key under the 'posts' table. Each post is going to have a not-required accompanying image that the author can upload. Would it be possible for you to add this key and call it 'image'?
We are very grateful to you for this!

- Front End team

[2019-08-11 02:09] Maker-Mark opened #16 "Fully Functional User Sessions with flask Sessions"
Sessions have been minimally implemented to enable basic user functionality. Please review the code , identify where sessions occur, and see if there is any missing logic that would enhance user experience.

[2019-08-11 02:13] Maker-Mark opened #17 "Main Display of Users' Subscribed Posts"
Currently, there is no view for a user to see a "home page" where they can see recent/trending "ports/subreddits" that they have subscribed to. There is an API function that returns all the ports a user is subscribed to.
TODO:
Take that API endpoint and call it from a `calling_api.py` route that calls the API, get's the current users' subscriptions
gets the top "x" posts from each, puts them in a

[2019-08-11 02:15] Maker-Mark opened #18 "Develop View Post View"
We need a way to display a post.
TODO:
-Given a post id, find all the associated comments, votes etc.
-Check-in with the front end team and review if the template for this view has been developed yet

[2019-08-11 16:45] derickfan opened #19 "Adding port pages"
-Let's you see all the posts from a port

[2019-08-11 16:45] Maker-Mark opened #20 "Add a page to view the users's subscribed ports"
-Grab the first 3 of the ones that I'm subscribed to

[2019-08-11 16:58] Maker-Mark opened #21 "Viewing one post"
- Voting (first level only?)
- Nesting Comments
- Voting on post

[2019-08-11 17:00] Maker-Mark opened #22 "User Page"
Frontend: Need the template that renders a User's profile
Backend: Use the API to get user(or the stored user object in the session) to display the user's info on the user profile template

[2019-08-11 17:02] Maker-Mark opened #23 "Clean up code:"
- Remove extra spaces that are not needed
- Add spaces near comments to make reading comments easy
- Order Methods/function in way that makes sense
- Ie login, signup, home, new post, my posts, my subscriptions etc/ whatever makes most sense from user flow

[2019-08-11 17:07] Maker-Mark opened #24 "Viewing posts from users's subscribed ports"
API:
- Work though logic to view list of subscriptions of a given user
- Send list of subscriptions back in easy to iterate form (ie list of dict)
Calling_Api:
- Given current user, use API to get list of subscribed posts.
- Get the ports and display them in a feed

[2019-08-11 17:07] #20 closed, assigned to Maker-Mark

[2019-08-11 17:08] Maker-Mark opened #25 "Registering User backed error checking"
- Make sure the API response is parsed for an error before assuming logged in.
- QA: Please test registering a new user, and post any issues below.

[2019-08-11 17:16] LoadingUser3 opened #26 "Bad Request Key Error when Hitting Enter While Search Field is Empty"
Hitting enter while Search field is empty in the /login/ page results in a Key Error.

**Steps to replicate:**
1.	Go to Url: 127.0.0.1:8080/login/
2.	Click on the Search field
3.	Hit Enter.

**Result:** wekzeug.exceptions.BadRequestKeyError

Screenshots:
![image](https://user-images.githubusercontent.com/47548948/62837122-bf4a8300-bc39-11e9-8d76-d49f887102c2.png)

![image](https://user-images.gith

[2019-08-11 20:31] derickfan opened #27 "Viewing posts the user has made"

[2019-08-11 23:53] derickfan opened #28 "The trending ports does not have 'isSubscribed' value to know if the user is subscribed to it"
In the portIndex.html file it checks if the port['isSubscribed] is True so it'll know whether to show "Subscribe" or "Joined"
![Screen Shot 2019-08-11 at 7 50 49 PM](https://user-images.githubusercontent.com/22162773/62841041-55e66680-bc71-11e9-8503-aff128488e41.png)

However in the base.html file the trending ports does not check for the 'isSubscribed' value so it will always show the user "Subsc

[2019-08-12 01:53] Maker-Mark opened #29 "Add img link property to a Post"
- This is needed for the option for the user to give a url to an image for their post
- If they dont provide one, we'll send a default one

[2019-08-12 04:00] derickfan opened #30 "Add API and calling API for up votes/down votes"

[2019-08-12 04:31] #29 closed, assigned to chalshaff12

[2019-08-12 04:32] #16 closed, assigned to abrahym-sharfeldden, AlvinH349, andrewalexgit

[2019-08-12 05:03] #5 closed, assigned to nobody

[2019-08-12 13:00] #22 closed, assigned to Maker-Mark, mary060196

[2019-08-12 13:57] Maker-Mark opened #31 "Backend: Generate and send User Page Data"
- Populate the `userInfo.html` template with users' information.

[2019-08-12 14:00] Maker-Mark opened #32 "Backend: Implement the PUT(UPDATE ) api endpoint to update user info"
- Use the `userInfo.htm` template to fish out the field they are changing

[2019-08-12 14:01] Maker-Mark opened #33 "Change upload IMG to add img URL, we are storing URL to images."
- The current "upload img" is not something that we have structured out for.
- Could we change the field to a img URL link instead?

[2019-08-12 14:22] Maker-Mark opened #34 "Add Route to view someone else's profile"
- Add a route where we simply take an additional profile/<username> to go to a user's profile page

[2019-08-12 15:13] Maker-Mark opened #35 "Frontend: New post bugs: Add Dropdown to select a port, etc"
- Currently, making a new post allows a user to type in any "community"(really port, right and submit it)
- Could you implement a drop down menu (or something that will list the ports that already exist)
- Ie we can send you a list of the current ports, then you can add that to the drop down menu. This way we ensure the post get's added and the user knows that they selected a port that exists. If

[2019-08-12 16:15] derickfan opened #36 "Database: Error in all_votes_by method"
When I try to get all for the votes for a certain username I get an error saying 'userId' is an unknown column
![Screen Shot 2019-08-12 at 12 10 23 PM](https://user-images.githubusercontent.com/22162773/62879976-51b25b80-bcfa-11e9-96ed-3dd4bb91932a.png)
![Screen Shot 2019-08-12 at 12 10 41 PM](https://user-images.githubusercontent.com/22162773/62879977-5414b580-bcfa-11e9-81e8-2d910853c5c0.png)
Als

[2019-08-12 17:52] #36 closed, assigned to chalshaff12

[2019-08-12 21:40] #33 closed, assigned to mary060196

[2019-08-12 23:49] andrewalexgit commented on #32
Validated test myself --- Issue closed -- feature complete

[2019-08-12 23:49] #32 closed

[2019-08-13 00:40] LoadingUser3 commented on #25
Results: Successfully registered as a user!

Tried with various credentials.

Screenshots:
![image](https://user-images.githubusercontent.com/47548948/62907380-eb046080-bd40-11e9-8e60-9195674954f4.png)

![image](https://user-images.githubusercontent.com/47548948/62907385-efc91480-bd40-11e9-9058-f1419b83f919.png)

![image](https://user-images.githubusercontent.com/47548948/62907394-f5bef580-bd40-11

[2019-08-13 02:19] LoadingUser3 commented on #19
I am able to select each port from the Trending ports menu and from the View Port Index page while logged in.

I cannot fully see an individual post though, even if I click on it.

**p/ Main:**

![image](https://user-images.githubusercontent.com/47548948/62910517-cca56180-bd4e-11e9-800b-945a3f0192ea.png)

**p/ Textbooks:**

![image](https://user-images.githubusercontent.com/47548948/62910527-d3cc6

[2019-08-13 02:34] #15 closed

[2019-08-13 02:36] mary060196 commented on #35
@Maker-Mark , are you able to see if this particular issue (with the dropdown menu) is fixed after the code was changed? Thank you for this!

[2019-08-13 03:28] abrahym-sharfeldden commented on #25
Suggestion: Add error handling for new users who try to use a username already in use.

I get redirected to this page when I attempt to register with a username that is already in use:

![Decoder Error](https://user-images.githubusercontent.com/25774697/62913094-cddb8c00-bd58-11e9-912b-1584067b94b5.png)

[2019-08-13 03:31] mary060196 commented on #25
Hello, @abrahym-sharfeldden !
I am about to add an error handing argument to the template, which will be caught by the Back End team later, so that a user who enters an existing username, will be redirected again to the registration page and see the message: "Username in use!" or the like. Please keep on watching for the issue to be resolved.
Great thanks!

[2019-08-13 04:01] mary060196 commented on #25
@Maker-Mark !
Two arguments for error detection in the Register template were added! Now you can choose what error to display at each time, based on the user's input.
The template checks for two arguments with the names: `username_error` and `email_error`, which is exactly as you suggested today.
Lastly, I modified the `test.py` such that it passes both arguments to the `render_template` (for visu

[2019-08-13 04:03] mary060196 commented on #25
@abrahym-sharfeldden , the changes within the templates have been made; now the Back End team will connect to the template and be able to monitor which errors to show!
Thank you!

[2019-08-13 04:34] Maker-Mark commented on #28
Live deployed app is at https://bc-app-class.herokuapp.com/

[2019-08-13 04:41] mary060196 commented on #26
Hey, @LoadingUser3 and @Maker-Mark !
I want to change one line of code in the `base.html` so that empty searches would not be submitted. I already have the code, and I just need to paste it into one of the lines.
Will this cause issues with the deployment of the application?

[2019-08-13 13:25] #14 closed

[2019-08-13 13:42] mary060196 commented on #28
Good morning, @derickfan and @Maker-Mark !
The trending ports issues with the subscription buttons were fixed.
Now:
- The trending ports array of dicts can include an `isSubscribed` argument that will be caught by the template `base.html`. What it means: a user can see to which of the trending ports he or she is already subscribed.
- The `scripts.js` file was modified to check for existence of add

[2019-08-13 13:50] mary060196 commented on #26
Hello @Maker-Mark ,
The `base.html` template was changed such that an empty search (when it will be implemented) will never be submitted when it is empty.
Please check this out by clicking ENTER when there is a focus on the search box (it was added no to much time ago, so please retrieve the lastest template.
Thank you very much!

[2019-08-13 14:57] Maker-Mark commented on #35
Looking into this now, will touch back soon..

[2019-08-13 15:04] Maker-Mark commented on #35
@mary060196
This is now working as we spoke about, very nice!

[2019-08-13 15:04] #35 closed

[2019-08-13 15:07] Maker-Mark commented on #19
You should now be able to click on a post and view it, comment's are not displaying, persisting or rendering yet.

[2019-08-13 15:10] Maker-Mark commented on #21
This is great, I had to make some html edits, well really Jinja2, because a lot of the assumed dict names were different in the db and so different in the JSON/dictionary. Please review the file, and our rendering. Remember, anytime you push to the master branch, it will be CI and deployed at https://bc-app-class.herokuapp.com . You will just need to give it 2 minutes to fully deploy and update. O

[2019-08-13 15:11] Maker-Mark commented on #21
@mary060196 Comment's are still to be implemented... will update you on that front

[2019-08-13 15:13] Maker-Mark commented on #11
@chalshaff12 So far working okay now, thank you!
Closing this issue.

[2019-08-13 15:13] #11 closed

[2019-08-13 20:02] mary060196 opened #41 "Posts: Username Icon (Round Image) Does Not Load. Solution: Set the Empty Arguments to the Templates to `None` Instead of """
@Maker-Mark ,
I looked at the `posts.html` for a few minutes and realized that the reason the images with no URL won't show up is that the template checks if the arguments are equal to `None` rather than if they are empty. This check for existence is the same in the other templates.
Hence, would you be able to replace the empty quotes `""` with the keyword `None`, which will help the template catc

[2019-08-13 20:13] mary060196 opened #42 "Registered to Website, but Now It Says `Internal Server Error 500`"
I registered, and then pressed the `View Port Index` button. Then, this message appeared. It keeps appearing on any other page that I go to. What to do?

[2019-08-13 20:36] Maker-Mark commented on #42
I was unable to reproduce this bug. I just made a new account, went around the web site, logged out, logged in again and was able to see the port index fine.
- Please reproduce this bug again and reopen the issue

[2019-08-13 20:42] mary060196 commented on #42
![image](https://user-images.githubusercontent.com/52957236/62975791-370ae000-bde9-11e9-9020-feccc1ec94d9.png)
This is what I see when I enter the website.

[2019-08-13 20:52] derickfan commented on #42
It seems like some session things aren't being set after signing up I'll fix that right away. You can just logout by going to https://bc-app-class.herokuapp.com/logout/ and then log back in

[2019-08-13 20:53] mary060196 commented on #42
Yea! Fixed! Thank you so much!!! I close the issue.

[2019-08-13 20:53] #42 closed

[2019-08-13 21:40] andrewalexgit commented on #18
@mary060196 Could you specify where the render in the test.py is I only see one for a search feature in the news feed

`# Note the optional 'search' argument passed to the function, and see what happens on the localhost's screen when you run the file!
@app.route("/newsfeed/")
def hello9():
    return render_template(
        "posts.html",
        name="Bla",
        trendPorts=trendPorts,

[2019-08-13 23:10] AlekseyTitov99 opened #43 "Post related issues"
- For the comments to show you need to refresh the entire page (shouldnt be like that)
- Whenever you go into a post, the trending ports change to “DEMO” - https://prnt.sc/osbo7q
- Text box at the top, should be at the bottom (used by many companies that way)
- When creating a post, it asks for your username (even though im logged in) - https://prnt.sc/osbods

[2019-08-13 23:10] abrahym-sharfeldden commented on #23
Will work on this when I'm finished with the last assignment.

[2019-08-13 23:10] AlekseyTitov99 opened #44 "Sign up issues"
- Confirmation email not sent
- No message or anything after you register - https://prnt.sc/osbkpx

[2019-08-13 23:10] AlekseyTitov99 opened #45 "Profile issues: Clicking on subscriptions from dashboard does not take you to the port"
~~Dashboard has the same page as user profile~~
- Subscriptions don't work at all

[2019-08-13 23:11] darienmiller88 opened #46 "Pulling from master branch unsuccessful"
When I attempted to clone from the master branch into pycharm, accessing the python files resulted in several errors, such as function calls not being recognized.

[2019-08-13 23:11] kennish1997 commented on #30
When upvoting/downvoting a comment, it applies to the first comment
<img width="951" alt="2019-08-13 (3)" src="https://user-images.githubusercontent.com/49169064/62983644-22851280-bdfe-11e9-95aa-59c33c8c784e.png">

[2019-08-13 23:12] abrahym-sharfeldden commented on #46
What errors are you getting? Could you paste it in or show images?

[2019-08-13 23:13] LoadingUser3 commented on #26
No errors when enter is hit while search field is empty!

Fantastic job.

[2019-08-13 23:17] kennish1997 opened #47 "Logo Change?"

[2019-08-13 23:21] mary060196 commented on #44
Good question, @AlekseyTitov99 ! The Server is not able to handle email notifications, which is why the user is redirected to the homepage instead to the "Welcome" page. I also asked this question to the Back End team, and this was their answer.

[2019-08-13 23:21] #44 closed

[2019-08-13 23:26] mary060196 commented on #43
Bullet point 1: There is no Ajax code used, which is why a comment cannot be submitted without redirection. The page should refresh automatically. Does it?
Bullet point 2: Ask the Back End team
Bullet point 3: Which text box?
Bullet point 4: This bug has been removed now.
Great thanks!

[2019-08-13 23:27] mary060196 commented on #26
Woohoo! Thanks, and good job!

[2019-08-13 23:27] #26 closed

[2019-08-13 23:40] xiaojun-wu commented on #31
Are you still working it? I am sorry I didn't see it and I did some of that.

[2019-08-14 01:03] mary060196 commented on #47
Logo & title for the website will be changed by midnight today.

[2019-08-14 01:18] mary060196 commented on #18
@andrewalexgit , I do not quite understand what you are asking about in the `test.py`. What I said about

is that there is a search argument (`search`) that is being passed into the `render_template` function. However, I asked the Back End team to remove this argument from the function because the search feature is not implemented yet. Once it is implemented, I'll remind you about it. When `search

[2019-08-14 02:19] kennish1997 opened #48 "Error Message when trying to change email address on account settings"

[2019-08-14 02:27] mary060196 commented on #28
@derickfan ,
I have made changes to two JavaScript files to correct the issue with the buttons, but re-deployment did not occur. I am using the GitHub GUI, so I do not push with the command line. How can the app be re-deployed?
Thank you for this!

[2019-08-14 02:36] kennish1997 opened #49 "Image URL when creating a post doesn’t work"
-Image URL when creating a post doesn’t work, only display the cat
-When adding links while creating a post, nothing shows up
<img width="433" alt="Capture" src="https://user-images.githubusercontent.com/49169064/62990593-8cabb080-be1a-11e9-9faf-99b5b27ab294.PNG">

[2019-08-14 02:41] kennish1997 opened #50 "Voting On comments"
When upvoting/downvoting a comment, it just applies to the first comment
<img width="421" alt="Capture1" src="https://user-images.githubusercontent.com/49169064/62990814-5458a200-be1b-11e9-9913-510552c11555.PNG">

[2019-08-14 02:55] mary060196 commented on #47
Hey, @kennish1997 !
I just changed the Logo and the Icon for the website. Once the website re-deploys, it will show the changes. Make sure to refresh the page when the site is redeployed and the changes are not seen.
Thank you for your patience!

[2019-08-14 03:00] mary060196 commented on #47
Sorry! I initially uploaded an icon file with the wrong name. Now it is fixed. Please try to re-deploy again.
Thank you very, very much for your help!

[2019-08-14 03:00] #47 closed

[2019-08-14 03:15] mary060196 commented on #50
Yea... the "reply" link should make a text area appear under the comment, like in the following image:
![image](https://user-images.githubusercontent.com/52957236/62992049-01cdb480-be20-11e9-8f7a-a4f2b2ef10f3.png)
But I guess the issue here is that the Server does not pass the right argument data structure (the JavaScript code that is used to display the text area reads the 'id' number of the comm

[2019-08-14 03:24] mary060196 commented on #50
@Maker-Mark , here is what a post dict should contain:
`postDict = {'id', 'title', 'portname', 'totalVotes', 'image', 'text', 'commentNum', 'dateCreated', 'username', 'avatarUrl', 'upOrDownvoted', 'comments': [{'id', 'totalVotes', 'dateCreated', 'username', 'avatarUrl', 'text', 'upOrDownvoted', 'comments' : [{'id', 'totalVotes', 'dateCreated', 'username', 'avatarUrl', 'text', 'upOrDownvoted'} ...

[2019-08-14 03:36] Maker-Mark opened #51 "Fix Auto Cat img for new post"
- Cat

[2019-08-14 03:37] Maker-Mark opened #52 "Voting on comments"
- Get basic Comments' voting displayed

[2019-08-14 03:39] Maker-Mark opened #53 "Trending Ports on past page"
- Cache trending ports, add and pop them in sessions

[2019-08-14 03:41] xiaojun-wu commented on #48
Error may fixed, try again.

[2019-08-14 03:42] mary060196 commented on #53
@Maker-Mark , it is good that you raise this issue. Clicking on a Trending Ports subscription button produces a message like in the following pic:
![image](https://user-images.githubusercontent.com/52957236/62993077-f9777880-be23-11e9-8e4c-5f47a5903f79.png)
I am so much thankful to you for your attention!

[2019-08-14 03:50] Maker-Mark opened #54 "Add "authorImg" attribute to posts"
- We need a way to get a post's author's image url
- Please add a field called "authorUrl" to every post, and add the additional needed parameter for the related methods (ie adding post now will take the user's avararurl and store it as the post's authorImg

- Thanks

[2019-08-14 03:54] mary060196 opened #55 "500 Internal Server Error after Changing Bio + Avatar"
![image](https://user-images.githubusercontent.com/52957236/62993478-6d665080-be25-11e9-8a66-b25fc9270905.png)
@Maker-Mark , why is this?
Please, excuse me for this pressure. I was just excited and wanted to see how it works, so I changed the bio and image URL.

[2019-08-14 04:08] Maker-Mark commented on #55
It's fixed

[2019-08-14 04:08] #55 closed

[2019-08-14 04:10] mary060196 commented on #55
Wonderful work!!!

[2019-08-14 05:16] mary060196 opened #56 "All Templates + Static Files Are In!"
- `userInfo.html` was completed
- 404 Error Template Added
- Funny "No Password Reminders!" Template added. Link it to the "forgot password?" link on the maroon menu.
It is a great pleasure to work with such professionals as you are, guys!
- Close this issue when you read this message.

[2019-08-14 06:49] mary060196 commented on #28
Issue successfully resolved! Thanks a lot!

[2019-08-14 06:49] #28 closed

[2019-08-14 09:36] mary060196 commented on #43
@AlekseyTitov99 !
Bullet point 1: JavaScript code was added to the post details page so that every time you write a comment, it refreshes automatically, and the comment shows up without you needing to refresh the page!
Bullet point 2: The DEMO ports were replaced today with real ports by the Back End team.
The only issue that remains is, then, the comment text boxes on the post details page, which

[2019-08-14 09:38] mary060196 commented on #41
Jinja code was modified across templates to incorporate arguments used by the server. Also the double user images on the posts (home) page and the post details page were replaced by a single image. Since the Jinja code is working fine now, I am closing this issue.

[2019-08-14 09:38] #41 closed

[2019-08-14 09:41] mary060196 commented on #45
The Dashboard page is already being attended by the Back End team. The subscriptions and 'my posts' pages are already on, and the others are on the way.
Thank you very much!

[2019-08-14 12:57] Maker-Mark opened #57 "Visuals: Homepage and commenting button"
When you're not logged in, currently the home page is empty.
Is that the intended splash page or will there be a image or feed that will demo the site for potential users?

[2019-08-14 13:03] chalshaff12 commented on #54
I added the author's avatar URL to the posts view so the authorImg column should be showing up now with the post data

[2019-08-14 13:03] #54 closed

[2019-08-14 13:04] #10 closed

[2019-08-14 13:06] Maker-Mark commented on #56
Hey Mary!
- I have just implemented the "forgot password" I love it ahaha
It's been a real pleasure from my end too, really.
I personally would love to upkeep and continue development of the site, we have all put so much into this, and it's really coming together.
- I was thinking we could finish things up, and, after a beta is done, we can pitch it to the CS department to have them feature it/ em

[2019-08-14 13:06] #56 closed

[2019-08-14 13:07] Maker-Mark commented on #53
Ahah yes yes, Derick got to fixing it very fast, I think it's fine now.

[2019-08-14 13:07] #53 closed

[2019-08-14 13:12] Maker-Mark opened #58 "Voting on post, on a viewing individual post page"
- Trying to vote on a post once you are on the page give you "NaN"

[2019-08-14 13:15] Maker-Mark commented on #57
- Also, there is a profile img that is called "bully.png" in the img folder. We were using it as a debug, and it looked really nice.
- A suggestion came up to pass it on to you all to be the default img if a user doesn't choose one.
- it's already a transparent png of the bc bulldog :)

[2019-08-14 13:20] Maker-Mark opened #59 "Changing User Profile img does not stick until you logout and log back in."
- Maybe try and re assign the session['user'] via a get user call to the api, this way the user does not need to log out for the local user info to get updated

[2019-08-14 14:00] Maker-Mark commented on #50
Unfortunately, that's not how post's are stored (perhaps because then getting a post just as the post, ie for rendering the preview, could be arbitrarily hard. Instead there is a relationship between a list of comments and a post ID. I was able to change the template to get this working, reply are not working yet, but votes show up(they are buggy) and the reply box displays.
- We are working on ge

[2019-08-14 14:00] #50 closed

[2019-08-14 14:12] derickfan commented on #58
You should now be able to view the vote and vote on the individual post pages

[2019-08-14 14:21] andrewalexgit commented on #59
This is actually an issue with all account update features --- I will add a session refresh method to the template render application which can be easily called from any update method

[2019-08-14 15:08] andrewalexgit commented on #59
Seems like we already have a refresh for the session added

`session["user"]["avatarUrl"] = form["avatarURL"]`

Could this be an issue with browser cache?

[2019-08-14 17:23] Maker-Mark commented on #59
Yes, it is. We need to pop the current user img from the cookie and re-assign the new one.
This means we need to call the db to get the updated user, and just fish out the new URL

[2019-08-14 17:25] Maker-Mark commented on #58
You can now view a post, upload an image, comment, vote and reply to comments on the post page

[2019-08-14 17:25] #58 closed

[2019-08-14 17:25] Maker-Mark commented on #51
Fixed

[2019-08-14 17:25] #51 closed

[2019-08-14 17:26] Maker-Mark commented on #45
Now it's updated.

They now show up on the dashboard, we are working on linking them

[2019-08-14 17:36] Maker-Mark commented on #45
Fixed, clicking on your subscribed ports works now too

[2019-08-14 17:36] #45 closed

[2019-08-14 17:36] Maker-Mark commented on #49
Issue resolved!

[2019-08-14 17:36] #49 closed

[2019-08-14 17:37] Maker-Mark commented on #43
@AlekseyTitov99 Thank you for finding and documenting these!
All related issues have been fixed, closing this for now

[2019-08-14 17:37] #43 closed

[2019-08-14 17:37] derickfan opened #60 "postDetails page is doing everything twice"
![Screen Shot 2019-08-14 at 1 34 35 PM](https://user-images.githubusercontent.com/22162773/63042574-514fc700-be98-11e9-82e8-901f4bd34c0b.png)

Every time we load the page it will run it twice. So if we commented on a post it would post two comments. What is this script for?
![Screen Shot 2019-08-14 at 1 35 56 PM](https://user-images.githubusercontent.com/22162773/63042711-9a078000-be98-11e9-87b8-8

[2019-08-14 17:39] Maker-Mark commented on #46
Closing this issue here as it does not relate to the functionality of the app.
Feel free to PM me, I'd love to help if i can

[2019-08-14 17:39] #46 closed

[2019-08-14 17:40] Maker-Mark commented on #30
Resolved! (still a bit finicky, please open a new issue if you find the new bugs)

[2019-08-14 17:40] #30 closed

[2019-08-14 17:41] Maker-Mark commented on #48
Is this confirmed fixed?

[2019-08-14 17:42] Maker-Mark commented on #48
Tested and confirmed. Closing

[2019-08-14 17:42] #48 closed

[2019-08-14 17:42] #21 closed

[2019-08-14 17:43] Maker-Mark commented on #19
Please reopen if this issue happens again. Closed

[2019-08-14 17:43] #19 closed

[2019-08-14 17:44] Maker-Mark commented on #17
Completed, closing

[2019-08-14 17:44] #17 closed

[2019-08-14 17:44] Maker-Mark commented on #18
Done and closed

[2019-08-14 17:44] #18 closed

[2019-08-14 17:45] Maker-Mark commented on #34
Is this a feature yet? @mary060196
Closing the issue for now, please reopen or make a new one if it's needed

[2019-08-14 17:45] #34 closed

[2019-08-14 17:47] Maker-Mark commented on #31
I got the bare bones done a while back, but I saw you did a lot for this and the other dashboard related things, thank you.
Closing this issue and opening a new one about the "myposts" tab.

[2019-08-14 17:47] #31 closed

[2019-08-14 17:49] Maker-Mark opened #61 "DashBoard: "MyPosts" display squished."
The "my posts" tab is looking a bit rough.
The posts are being squished and you cannot see them or click on them.
See img below
![image](https://user-images.githubusercontent.com/40143016/63043477-51e95d00-be9a-11e9-9bfa-f2e015ca4908.png)

[2019-08-14 17:52] Maker-Mark opened #62 "Limit profile IMG url length"
Some profile images are far too long and create issues for the cookie processing.
For now, please limit the length of a IMG url to 300 characters on any place a img can be submitted

[2019-08-14 18:36] mary060196 commented on #57
Hello, @Maker-Mark .
First, I'd like to thank you for your messages and for the great effort that you contributed to the website! It is, indeed, a great idea if it could somehow be used by the CS dept.
About the homepage for those who are logged out: the Product team intended to see a page of posts from different ports on the page. There is no ability to vote for them, but people can see the detai

[2019-08-14 18:39] mary060196 commented on #60
Hey, @derickfan and @Maker-Mark !
This code has been added so that users do not have to refresh a page twice. The question is, why is the comment submitted twice? If I remove this JS code, will the users need to refresh the page manually to see the comment they wrote?
Thanks for the reply!

[2019-08-14 18:47] Maker-Mark commented on #60
We fixed the duplicate posting and added a refresh on commenting. All should be good. Closing this for now

[2019-08-14 18:47] #60 closed

[2019-08-14 18:50] mary060196 commented on #61
@Maker-Mark ,
could you try to see how it looks now?

[2019-08-14 18:53] mary060196 commented on #62
@Maker-Mark !
Will be done in an hour across the website.

[2019-08-14 18:57] Maker-Mark commented on #62
Thank you!

[2019-08-14 18:57] #62 closed

[2019-08-14 18:57] Maker-Mark commented on #61
@mary060196 Still happening :(
![image](https://user-images.githubusercontent.com/40143016/63048133-e1dfd480-bea3-11e9-8847-06426e7fd454.png)

[2019-08-14 19:00] Maker-Mark commented on #57
@mary060196
Great, we now have it rendering it, however if a user tries to click on a post, and is not logged in, should they be allowed to view it? I dont think so, right?
- If so, can you add a slide-in msg that tells you to sign up if no user is passed into the posts? Ie "you need to login or be a member to view this" and so on?

[2019-08-14 19:00] mary060196 commented on #61
@Maker-Mark , we'll try to see. Does the same happen in the comments & saved posts tabs?

[2019-08-14 19:01] Maker-Mark commented on #57
Additionally, @mary060196  the comment box only submits when someone hits enter, can you add a input submit and have it go to the link we have currently set? People should be able to hit new lines in comments, right?

[2019-08-14 19:03] mary060196 commented on #57
You're right; I understand your concern. However, the Product team still wishes that this feature holds. If the user argument is not given to the template, it hides the commenting options, the "save posts" button, and the "++" and "--" buttons, so that a non-user can only see the post, but not interact with it. What do you think should be done, @Maker-Mark ?

[2019-08-14 19:05] mary060196 commented on #57
I'll add the submission buttons, and notify you once it is done. Thank you, @Maker-Mark !

[2019-08-14 20:02] derickfan opened #63 "Sort "hot""
Posts should now all be sorted by new by default and you can also sort by hot. However when you sort by hot and the page refreshes the sort option goes back to new. So you cannot sort by new again once you sort by hot. You can refresh the page however to reset it to sorting by new.
![Screen Shot 2019-08-14 at 4 05 34 PM](https://user-images.githubusercontent.com/22162773/63052459-608d3f80-bead-11e

[2019-08-14 20:08] mary060196 commented on #57
@Maker-Mark !
Comment to Comment buttons were added! I even wrote one comment to @derickfan 's post and tried the button out! Try it too!
Thanks!

[2019-08-14 20:12] mary060196 commented on #63
Yes! That's indeed an issue.
What could be done is adding a Jinja `if` that checks if an argument called `hot` was passed to the template, and then make the selected option according to the passed argument. As you noticed, the `new` option is selected by default, which is the problem. I'll add this Jinja `if` and will notify you!
Thank you very much for pointing this out!

[2019-08-14 20:14] mary060196 commented on #61
@Maker-Mark , try to check it now; I added a "min-height" CSS code.
Also, what is your screen's height in pixels?

[2019-08-14 20:34] Maker-Mark opened #64 "Not redirecting to homepage with feed when a new user registers"
- Add the parameter to render the newsfeed

[2019-08-14 20:36] Maker-Mark opened #65 "No trending ports on user account settings --> Notification tab"

[2019-08-14 20:37] Maker-Mark opened #66 "After submitting post, view post not work"

[2019-08-14 20:39] Maker-Mark opened #67 "Reply to comment button disabled even with text"
![image](https://user-images.githubusercontent.com/40143016/63054563-178bba00-beb2-11e9-88fd-b4bad55e3ecb.png)

[2019-08-14 20:46] mary060196 commented on #67
Try to refresh the page now. Does it work?

[2019-08-14 20:49] #65 closed

[2019-08-14 20:49] derickfan commented on #65
fixed

[2019-08-14 20:50] andrewalexgit commented on #64
Fixed redirect after signup

[2019-08-14 20:50] #64 closed

[2019-08-14 20:56] Maker-Mark commented on #67
Yes, looks okay now thank you

[2019-08-14 20:56] #67 closed

[2019-08-14 20:58] Maker-Mark commented on #61
It looks okay only if you have just a few post.
![image](https://user-images.githubusercontent.com/40143016/63055834-be715580-beb4-11e9-909a-1019641f60b1.png)

[2019-08-14 20:59] mary060196 commented on #61
Thank you for notifying! I'll check this later today.

[2019-08-14 23:28] derickfan commented on #66
You can now view the post but its adding things to the end of the url
![Screen Shot 2019-08-14 at 7 25 53 PM](https://user-images.githubusercontent.com/22162773/63063202-ae17a580-bec9-11e9-8238-361ebfc6937f.png)

[2019-08-15 01:07] mary060196 commented on #61
@Maker-Mark , I was happy to see that posts are properly displayed now!

[2019-08-15 01:07] #61 closed

[2019-08-15 01:07] Maker-Mark commented on #66
@derickfan Hmmm, weird, it took me to A post but the wrong one... You can remove the training info from the html, I think it's the "title" or value?

[2019-08-15 01:10] Maker-Mark commented on #66
@derickfan Why if we just direct them back to the port....not the post. They can just see it there

[2019-08-15 01:11] mary060196 opened #68 ""Save Post" Button is Not Operative"
Here's the image of the problem:
![image](https://user-images.githubusercontent.com/52957236/63066425-035ab380-bed8-11e9-904b-e2a5dade4925.png)

[2019-08-15 01:27] Maker-Mark commented on #66
@derickfan It actually seemed to work as long as the post title is unique. Are you getting the first result by title or by ID?

[2019-08-15 01:29] derickfan commented on #66
That's weird I'm getting it by ID

[2019-08-15 01:33] Maker-Mark commented on #66
Hmm, let me try to reproduce it again

[2019-08-15 01:35] Maker-Mark commented on #66
@derickfan Make a new post with the same exact text as an already existing post in that port and it will take you to that one instead

[2019-08-15 01:37] derickfan commented on #66
Hmmm thats weird

[2019-08-15 01:43] derickfan commented on #66
Oh is it cause when we make a new post we find it by postText and since the text is the same it'll return the first instance of that
![Screen Shot 2019-08-14 at 9 42 24 PM](https://user-images.githubusercontent.com/22162773/63067327-723a0b80-bedc-11e9-98ff-f916758d2b0c.png)

[2019-08-15 01:45] Maker-Mark commented on #66
That was a work around when the DB didnt have a method for ID yet. Can you change it to ID?

[2019-08-15 01:46] derickfan commented on #66
Got it

[2019-08-15 01:46] #66 closed

[2019-08-15 01:48] #57 closed

[2019-08-15 01:48] Maker-Mark commented on #57
Fixed, Thank you!

[2019-08-15 01:49] derickfan commented on #68
We actually haven't implemented that yet. I'll start later tonight.

[2019-08-15 01:50] mary060196 commented on #68
Sure, @derickfan . No problem! Don't close this issue yet so that it won't be forgotten

[2019-08-15 02:18] mary060196 commented on #63
Hi, @derickfan !
I just added the Jinja code for "new" and "hot. If `new` is passed to the template (whatever its type is and its value is), the sort dropdown will write `Sort by: New`. If `hot` is passed, it'll write `Sort by: Hot`. It is just left to send the arguments in the Back End python code.
Hope it solved the problem!

[2019-08-15 02:38] Maker-Mark opened #69 "Sort Drop down display broken"
![image](https://user-images.githubusercontent.com/40143016/63069242-31de8b80-bee4-11e9-948b-8289a28410e9.png)

[2019-08-15 02:38] mary060196 commented on #69
@Maker-Mark , it's broken because I changed the Jinja code as @derickfan said!

[2019-08-15 02:39] mary060196 commented on #69
See my comment to #63 .

[2019-08-15 02:40] mary060196 commented on #52
Voting inside posts does not reflect at the posts page. I receive the following errors when I look at the page of posts:
![image](https://user-images.githubusercontent.com/52957236/63069350-8550d980-bee4-11e9-8fdb-88f7093b5a2f.png)

[2019-08-15 02:40] Maker-Mark commented on #69
Ahh okay, I'll link up with @derickfan

[2019-08-15 02:55] mary060196 opened #70 "No (1) Date for Comments and (2) Name of Port Inside Posts ("Post Details")"
The Jinja code is accommodated to show the port name:
`<a href = "" class = "portOfPostName" title = "See all posts in {{ post['portname'] }}">p/{{ post['portname'] }}</a>`
and the date & time when a comment was added:
`<div class = "commentDate">
     <p class = "commentDateOfWriting">{{ comment1['dateCreated'] }}</p>
</div>`
Please take into your consideration! Thank you very much!

[2019-08-15 02:58] mary060196 opened #71 "Trending Ports Should Display Only 5 of the Existing Ports"
Now, all the ports in the port index are being displayed there. Choose only 5 to display.
Thank you!!!

[2019-08-15 03:07] mary060196 opened #72 "Username + Avatar Links are Not Showing the User Profile when Clicked"
The `userInfo.html` has the ability to distinguish between a (1) user looking at his or her own profile, and (2) user looking at someone else's profile. The difference is in the `user` and `viewedUser` arguments. The information about the _viewed profile_ is in `viewedUser`. If `user` and `viewedUser` do not have the same username (which is unique), then the template understands that someone else'

[2019-08-15 03:13] mary060196 opened #73 "Dashboard Issues"
(1) Every post in "My Posts" has exactly 3 comments when it actually sometimes isn't. For example, my "Pizza" post is displayed in "My Posts" as follows:
![image](https://user-images.githubusercontent.com/52957236/63070363-e8dd0600-bee8-11e9-96e5-453d63f43dfe.png)
But actually it has 10 comments, as below:
![image](https://user-images.githubusercontent.com/52957236/63070397-04481100-bee9-11e9-977d

[2019-08-15 03:27] mary060196 opened #74 ""Username in use!" Error is not Displayed when Registering w/ Existing Username"

[2019-08-15 03:29] #27 closed

[2019-08-15 03:31] Maker-Mark commented on #74
Hmm, odd. This was working, maybe a bug now that we render the feed. We'll try and look into it

[2019-08-15 03:31] mary060196 commented on #74
Thanks!

[2019-08-15 03:32] Maker-Mark commented on #73
Hmm thank you for pointing this out.
Will keep this open and look into when we have a chnance

[2019-08-15 03:39] mary060196 opened #75 "Voting on Posts and Comments: Total # of Votes Incorrectly Computed"
When a user presses the "++" button once, the number of votes must increase in 1 vote. When the user presses on the "++" again, the number of votes must decrease by 1, as though as the user takes the vote back. Similarly, when the "--" is pressed once, the number of votes should decrease by 1, and when the "--" is pressed again, the number of votes should increase.

The JS function for the `posts.

[2019-08-15 03:47] mary060196 opened #76 "# of Members Missing on the Trending Ports Section"
Here's the image:
![image](https://user-images.githubusercontent.com/52957236/63071583-ddd8a480-beed-11e9-8f16-73ee1d51642c.png)

[2019-08-15 04:20] xiaojun-wu commented on #72
I will fix it later, thanks remind.

[2019-08-15 04:21] mary060196 commented on #72
Thank you!

[2019-08-15 04:39] mary060196 opened #77 "Posts Not Submitting; Page Just Refreshes On "Submit Post""

[2019-08-15 05:00] xiaojun-wu commented on #72
I changed the function and it may works. However, I don't know how to access other's profile.

[2019-08-15 05:03] xiaojun-wu commented on #73
Thank's remind, I will try to fix it later.

[2019-08-15 05:24] Maker-Mark commented on #77
Not reproducible. Please provide steps to reproduce this. Closed for now

[2019-08-15 05:33] mary060196 commented on #77
Here is what I write on the post. After I click submit, it happens again. I refreshed the page before that. Maybe the issue is with the single quote mark (')?
![image](https://user-images.githubusercontent.com/52957236/63074713-7c6c0200-befc-11e9-90e7-9962751d2281.png)

[2019-08-15 06:18] derickfan commented on #77
Yea looks like the ' is breaking it. I'll look into it tomorrow. Thanks

[2019-08-15 06:52] mary060196 commented on #77
O.K. Thank you very much, @derickfan .

[2019-08-16 16:48] LoadingUser3 opened #78 "Scaling Issues for Mobile"
Hello,

This may be low on the priority list, but some parts of the site on mobile look...odd.

My phone is 6 inches length x 3 inches width.

Here are some screenshots of how most pages of the site looks on a mobile:

### **Homepage:**

![Homepage](https://user-images.githubusercontent.com/47548948/63182996-f21dbe00-c021-11e9-8a8d-caa82bf6df3b.jpg)

-----------------------------------------------

[2019-08-16 16:51] LoadingUser3 commented on #78
Forgot to mention, I could only scroll left and right on the Posts page

[2019-08-16 16:59] LoadingUser3 commented on #74
The same occurs when registering with an existing email. No error is displayed.

[2019-08-16 17:11] abrahym-sharfeldden commented on #78
It will help if you share the name of your device so that the media queries can target your devices pixel resolution

[2019-08-16 17:14] LoadingUser3 opened #79 "Autofill on Registration Page for Username/Email does not properly input to field"
When using Autofill on the registration page, whatever is selected does not register as an input.

Any sort of manipulation on the field(ex: adding and removing space, removing and re-adding a character, adding a character, etc) will make it register as an input.

The same occurs in the Email field.

<img width="597" alt="Screen Shot 2019-08-16 at 1 04 27 PM" src="https://user-images.githubusercon

[2019-08-16 17:17] LoadingUser3 commented on #79
(How do I move this to the Registering User Backend Checking card besides copy-pasting?)

[2019-08-16 17:33] LoadingUser3 commented on #78
Samsung Galaxy J7 Prime

[2019-08-16 17:59] LoadingUser3 commented on #77
This \ also breaks comments and posts

[2019-08-16 19:00] mary060196 commented on #77
@LoadingUser3 , your comment is very helpful towards understanding what the issue is about. Since the characters that create problems are ", ' and /, it is believable that the reason for the break is character escaping. In other words, I could build a JS function to add another / before any such character, which would allow the processing of these three. I'll try to do this first in the "Write Pos

[2019-08-16 19:34] LoadingUser3 commented on #77
@mary060196 The / (forward slash) does work for comments and posts, it's the \ (back slash) that does not.

I'm glad that this helps with finding the issue!

[2019-08-16 19:37] mary060196 commented on #77
Yes, you're right - it's the backslash! The backslash is the one that is used for escaping: \', \" and \\. And thank you for checking about the forward-slash as well. Once the function is added, I'll check how posts submit with any keyboard character in them.
Thank you so much for this!

[2019-08-16 19:43] LoadingUser3 commented on #77
I've checked most of them already (at least just for comments) under p/app_hacks, the post named "Check 2".

[2019-08-16 19:47] mary060196 commented on #77
@LoadingUser3 , that's a great job! The function, then, will address these specific ones. I'd also add escaping for " in any case (that won't hurt the code anyway).
Thank you very much!

[2019-08-16 20:52] LoadingUser3 commented on #77
Here's another weird thing I found (or maybe it's intentional?) involving the **Post Title**:

The following sentence is 99 characters long:

Checking multiple lines, double space, 12 font, 18 pages, laminated, hard copy due 8-16-2019 @16:15

It will successfully post if I leave it as is in the Post Title field.

If I add any character to it, including a space, it will also post. (100 characters)

[2019-08-16 20:54] mary060196 commented on #77
Yes, @LoadingUser3 . There's a limit of 100 characters for post titles in the database, which prevents more than 100 chars to be posted.

[2019-08-16 20:55] LoadingUser3 commented on #77
Just making sure, should probably not let the user go above 100 though.

Thank you for letting me know!

[2019-08-16 20:57] mary060196 commented on #77
You are right. I'll also add a limitation in JS to disallow more than 100 characters to be inserted.
Thank you very much!

[2019-08-16 23:31] mary060196 commented on #77
@LoadingUser3 , Now every post (title + text) and every comment (both to posts and other comments) can contain the special characters: ', \ , \t, \r, \0, \v, \f just as they are. Try them out, and try many of them in a sequence. Another problem that remains is making new lines, which I'll do tomorrow evening. I'll also add the limitation to post title of 100 char tomorrow. Since this specific issu

[2019-08-16 23:31] #77 closed

[2019-08-16 23:32] mary060196 opened #80 "No Newlines in Post or Comment Texts"

[2019-08-16 23:33] mary060196 opened #81 "Post Title is Not Limited to 100 Chars, as It Should Be"

[2019-08-17 01:09] derickfan commented on #63
Hey I'm looking at the template and I'm confused as to what exactly I'm supposed to pass in as a arguement. Also wouldn't it be better if we had it the old way but have the default value be just "Sort" like we have it when the user creates a post?
![Screen Shot 2019-08-16 at 9 07 11 PM](https://user-images.githubusercontent.com/22162773/63204831-f66dc980-c069-11e9-89a3-41f5fa5dd0c5.png)

[2019-08-18 00:59] mary060196 commented on #78
Hopefully, @LoadingUser3 , media queries will be added to the website this upcoming week.

[2019-08-18 01:13] mary060196 commented on #63
@derickfan , thank you very much for your question. The `hot` and `new` parameters about which I spoke earlier can be of any type, and can have any content. The 'posts.html' template checks which one of them has been passed. If, for example, you pass `new = True` inside the `render_template` function, then the default value of the sort menu will be `Sort by: New`. The list of posts that you are pa

[2019-08-18 01:21] mary060196 opened #82 "Can't Log into the Website w/ my Username and Password"
Is this a bug, or was my account deleted from the database as part of the cleaning process?

[2019-08-18 01:30] chalshaff12 commented on #82
I haven't disabled any users since Thursday, what's your username?

[2019-08-18 01:31] mary060196 commented on #82
mary060196
Thank you, Michal!

[2019-08-18 01:32] chalshaff12 commented on #82
Hmm looks like it's an active user, it should be fine from the database side..

[2019-08-18 01:35] mary060196 commented on #82
Thank you very much for your answer, @chalshaff12 !
Possibly there are issues on the Back End. In the meantime, I registered with another account with another username. I ask about this because I want to continue to debug the website, and it is difficult to do so without being logged in.
Thank you, and good luck on the final!

[2019-08-18 01:44] abrahym-sharfeldden commented on #82
Keep in mind that if you do have trouble logging in, there is still the default login information:
username: `username`
password: `password`

[2019-08-18 01:45] derickfan commented on #63
Ahhh I see. I changed it so that a takes a variable called sort which the template will check if it's either new or hot so that in the future if we wanted to have more sorting options we wouldn't have many if statements to check which sorting rendering statement with the right sorting variable. Also the site should now have sorting back
![Screen Shot 2019-08-17 at 9 40 45 PM](https://user-images.g

[2019-08-18 01:46] mary060196 commented on #82
@abrahym-sharfeldden , thank you so much for this. Believably, there is a different problem behind this.
@derickfan : I have some more clear details about the error. When I click "Sign In", the page seems to refresh, and the URL becomes `https://bc-app-class.herokuapp.com/home/`, but what I still see as through as I am logged out. Is the `user` argument passed to this `render_template` function?
T

[2019-08-18 01:47] mary060196 commented on #63
@derickfan , got it. Thank you so much for adding this nice option!

[2019-08-18 01:49] mary060196 commented on #63
It works very well! It is, hence, time to close this well-fixed issue.

[2019-08-18 01:49] #63 closed

[2019-08-18 01:56] derickfan commented on #82
Hmmm there might be something wrong with the cookies. Can you try logging out by going to https://bc-app-class.herokuapp.com/logout and then trying to log back in?

[2019-08-18 01:58] mary060196 commented on #82
When I clicked on the link that you, @derickfan , wrote here, I was redirected to `https://bc-app-class.herokuapp.com/home/` , but I still see the page as though as I am logged out. Here's the image:
![image](https://user-images.githubusercontent.com/52957236/63219161-1cfb3580-c13a-11e9-87a9-4d91187d69f7.png)

[2019-08-18 01:59] derickfan commented on #82
Can you try logging back in?

[2019-08-18 02:00] mary060196 commented on #82
I did so, but the condition is the same:
![image](https://user-images.githubusercontent.com/52957236/63219178-5c298680-c13a-11e9-9ba4-a295316a3cc5.png)

[2019-08-18 02:02] derickfan commented on #82
Hmmm that's weird. I'll look into it

[2019-08-18 02:04] mary060196 commented on #82
Thank you so much, @derickfan . Meanwhile, I'll just use the other account for which I register an hour ago. If it is necessary for me to search for some file that is stored on my computer and modify it anyhow, please tell me about this.
Good luck on the final!

[2019-08-18 02:24] mary060196 opened #83 "User Information While Filling Forms: Limitation Checks"
- Check for all string limitations indicated in the database (how long each input field is allowed to be?)
- Add respective "placeholder" inside templates wherever limitations exist.
- Add respective JS functions to prevent the user from going over limitations

[2019-08-18 02:30] mary060196 commented on #83
Addressing Bullet Point One:
- User Description: up to 1000 chars
- User Email: up to 128 chars
- User Password: up to 128 chars
- Post Title: up to 100 chars
Everything else either is already been limited or does not depend on the user's input.

[2019-08-18 02:31] mary060196 commented on #83
- (Bullet Point 5) The First & Last Name fields should be limited to alphabetic input only.

[2019-08-18 02:35] derickfan commented on #82
Thanks you too

[2019-08-18 02:49] derickfan commented on #82
Can you try logging in now?

[2019-08-18 02:50] mary060196 commented on #82
Yes!!!!! It logged me in! Thank you so, so much, @derickfan ! I so much appreciate your work!

[2019-08-18 02:51] mary060196 commented on #82
The issue shall be closed now. Thank you, everyone, for your tremendous help!

[2019-08-18 02:51] #82 closed

[2019-08-18 02:59] mary060196 commented on #83
Bullet Point 5: Successfully implemented.

[2019-08-18 03:43] mary060196 commented on #83
Bullet Points 1-3: Successfully implemented.
New bullet points:
- (Bullet Point 6) Do the same for the email and password change in "Account Settings"
- (7) Add Escaping Characters Option for all input fields where necessary.

[2019-08-18 03:48] mary060196 commented on #81
Now it's limited; case resolved, so issue closes.

[2019-08-18 03:48] #81 closed

[2019-08-18 03:54] mary060196 commented on #79
@LoadingUser3 , you can assign people to see this post. There is a section at the top of the page called "Assignees", in which you can choose people who are part of the organization. This will make GitHub create a new email message and notify them about it. I am quite not sure how it can be added to the Backend card besides this.
Since yesterday, I've added a few more changes to the registration p

[2019-08-18 05:04] derickfan commented on #68
You should now be able to save posts and view them in your dashboard

[2019-08-18 05:06] mary060196 commented on #68
Works wonderfully! Thank you so much, @derickfan ! I close the issue now.

[2019-08-18 05:06] #68 closed

[2019-08-18 05:15] #69 closed

[2019-08-18 05:44] derickfan commented on #76
Now should be showing the number of members for each port. Gonna need to relog for it to show. Also when subscribing or unsubscribing the number won't update until you refresh

[2019-08-18 05:46] mary060196 commented on #76
Everything works perfectly! Wonderful job, @derickfan ! The issue is closing.

[2019-08-18 05:46] #76 closed

[2019-08-18 08:54] mary060196 commented on #80
Newline breaks added to post texts, comments texts, and user's bio. Mission successful.

[2019-08-18 08:54] #80 closed

[2019-08-18 09:57] mary060196 commented on #83
Bullet point 6-7 successfully implemented. (Bullet point 4 does not exist! Ha!)
Issue resolved and closed.

[2019-08-18 09:57] #83 closed

[2019-08-18 10:02] mary060196 opened #84 "Media Queries for Portrait Screens"
- Add media queries for portrait-aligned screens (most mobiles in portrait mode)
- Add `skip-to-content` links to prevent users from scrolling the whoooooole middle part (in the new design for mobiles) until the `search` bar is reached. These links will also help keyboard users in their navigation process.

[2019-08-18 16:16] chalshaff12 opened #85 "Handling deleted users"
The app does not yet have the functionality implemented to delete a user.

However if/when this is implemented, how do we want to handle posts and comments by deleted users?

Those posts/comments can just disappear, or they can remain while showing the user as 'deleted' just like it does on Reddit.

Actually, IIRC on Reddit, the posts disappear but the comments remain with a 'deleted' user.

Also,

[2019-08-18 21:10] mary060196 commented on #85
@chalshaff12 , thank you very much for raising this concern.  It would probably be good to do what is easy for the database to handle. For example, if a user is deleted, both the posts and the comments would be deleted. The total number of votes should remain the same because they do not connect directly to that user, even when he or she is deleted.
I am not sure what the opinion of the product wo

[2019-08-18 21:43] mary060196 commented on #85
@dirtydupe , in light of the question that @chalshaff12 asked, what should happen, potentially, when a user is deleted (or deletes his or her account)?
Thank you for your reply!

[2019-08-19 00:18] dirtydupe commented on #85
@chalshaff12 Good questions. You are remembering correctly. In my opinion it would be sufficient/simpler to remove the username and retain the votes. The comment/post could also remain so any conversations in the comments also stay.

[2019-08-19 00:23] dirtydupe commented on #85
@mary060196 We will have to give users that option eventually as well as the option to delete posts and individual comments. As I said above, I think that we should retain the content and votes of a user unless the user explicitly deletes a comment or post. In that case we remove content, comments and votes from the database all together.

[2019-08-19 01:15] chalshaff12 opened #86 "adding an 'All' feed, and/or 'my_subscriptions' feed"
Right now the app opens to the 'main' port's post feed and to see posts in other ports, you have to click on them. Perhaps we should have an option for 'all' to show a feed of all posts from all ports. (Equivalent of Reddit's "All")

Another idea (not mutually exclusive) is to have something like a "my_all" or "my_subs" type of link that shows a feed with all posts in the ports I am subscribed to.

[2019-08-19 01:26] derickfan commented on #86
Right now there is a "my_subs" type of link showing all the posts that you're subbed to. The only way to actually see it is manually entering in https://bc-app-class.herokuapp.com/subscribed-posts/. I can also implement an endpoint where it'll show all posts from all ports. We might also need to implement pages to our site.

[2019-08-19 01:42] mary060196 commented on #85
@dirtydupe , got it: thanks! When this feature is added to the website, this is how content will be handled. I am not sure how much effort from now and on the guys from the Back End team will give for connecting such a feature to the server, so it is unclear when the feature will be added.

[2019-08-19 01:47] mary060196 commented on #86
@derickfan , wow! I did not know about the existence of the "my_sub" link. Would it be possible, based on guidance that was given from the Product team at the beginning of the semester, to make this specific "my_sub" display type the homepage of every user once he or she logs in?

[2019-08-19 01:50] chalshaff12 commented on #85
If the content is retained, will it still display the username? Or will it show that it is a deleted user?

[2019-08-19 02:01] chalshaff12 opened #87 "Where is the member count coming from on the Trending sidebar"
On the Trending ports sidebar, where is the member count of each Port coming from?

Right now it seems to be displaying member counts for all users where it should only be displaying counts for active users. I may need to update a view in the database so I'm wondering where that number is being pulled from.

[2019-08-19 02:04] mary060196 commented on #87
@chalshaff12 , you are right: based on the Back End team's implementation, it probably counts the total number of active users, but to be sure we need to ask them.
I assign @derickfan and @Maker-Mark , who can answer this question.

[2019-08-19 02:12] derickfan commented on #87
![Screen Shot 2019-08-18 at 10 10 03 PM](https://user-images.githubusercontent.com/22162773/63234834-fd7d0f00-c204-11e9-9eea-e258245ffcda.png)
We're calling the all_subscriptions_by function for each of the ports and then using the len() function to get the size of the list which is the number of users subscribed to it

[2019-08-19 02:14] derickfan commented on #86
That's easily doable. I'll get on that when I have time

[2019-08-19 02:33] mary060196 commented on #86
Sure, @derickfan . Thank you very much for your reply!

[2019-08-19 03:57] dirtydupe commented on #85
I was thinking we handle it similarly to reddit, where [deleted] is displayed instead of the username.

[2019-08-19 04:00] mary060196 commented on #85
That's a very good idea, @dirtydupe ! If you'd like, this is how the feature will be.
Thank you very much! Good luck on the final!

[2019-08-19 11:54] chalshaff12 commented on #87
I changed the database view to give the subscriptions only for active users, but the page still displays the old numbers. Any idea where it's going wrong?

[2019-08-19 14:29] stevezhuravel opened #88 "subscriptions"
When you to subscriptions is it suppose to show what you are subscribed to if yes it does not show

[2019-08-19 14:36] derickfan commented on #87
If you're logged in you're gonna need to relog to refresh the session so the trending ports will be updated

[2019-08-19 18:48] chalshaff12 commented on #88
I don't think it is supposed to show your subscriptions when you add a new one. If that were the case, you would have to go back to the main page to subscribe to another port.. The way it is now, you can subscribe to many ports all at once.

You can see your descriptions on your user Dashboard.

[2019-08-19 18:48] chalshaff12 commented on #87
Ah ok, looks good. Thank you!

[2019-08-19 18:48] #87 closed

[2019-08-19 19:24] Maker-Mark opened #89 "Feature Request: Notifications"
- Users should have a way of knowing when their post gets a comment or their comment gets a reply
 - Front-End: Build out a notification UI that pops down and can display how many unread alerts are present
- Back-end: Keep track of users' actions and organize them in a way that we can cache and keep track of other users' actions.

[2019-08-19 21:35] mary060196 commented on #86
@derickfan has successfully added the posts from all the subscribed ports to the user's homepage! Hurray! Great thanks! The issue is then closed.

[2019-08-19 21:35] #86 closed

[2019-08-19 21:55] mary060196 commented on #89
Hello, @Maker-Mark !
I am trying to register for a free desktop + mobile notification system that will allow sending notifications on various kinds of browsers. It is called OneSignal, and it is free for at most 30k subscribers.
What do you think about this?

[2019-08-19 23:04] mary060196 commented on #89
@Maker-Mark , I tried doing it with OneSignal, but it does not seem to work. I am missing something. I guess I will create an interface, as you said, that will be reachable from the main menu on the website, where the user will see a list of notifications, which are links to the corresponding posts and comments. Since the final exam is tomorrow, I'll begin working on it after the exam.
Thank you v

[2019-08-20 19:36] derickfan opened #90 "Can no longer create a new account"
![Screen Shot 2019-08-20 at 3 35 02 PM](https://user-images.githubusercontent.com/22162773/63378396-22d26000-c360-11e9-83ed-27f736393d10.png)
The form is asking me to match the requested format for first name

[2019-08-20 19:42] mary060196 commented on #90
I have added a `pattern` attribute to the html page that may cause this. I will remove it right now and notify you, @derickfan .

[2019-08-20 19:44] mary060196 commented on #90
I removed the `pattern`s now and committed, but it takes a few minutes to re-deploy. In 5 minutes from now, would you be able to refresh the page and try again? Thank you, @derickfan !

[2019-08-20 19:47] mary060196 commented on #90
@derickfan , try now. Does it still display this message?

[2019-08-20 19:49] derickfan commented on #90
Yup working great thanks!

[2019-08-20 19:52] #90 closed

[2019-08-21 03:54] mary060196 commented on #89
- Create notifications button on the Main menu
- Create `notifications.html` that shows the user's notifications. User will be redirected to the page once the button is pressed.

[2019-08-21 04:05] mary060196 opened #91 ""App of the Month""
- Create a new message image at the right bottom part of the website.
- Create a new template with a form for the user to register his or her app and for contacting purposes.

[2019-08-21 16:43] derickfan commented on #75
Voting should now be fixed. Apparently when someone would vote on a comment it would also modify everyone's votes in that certain comment rather than just the user voting

[2019-08-21 16:43] #75 closed

[2019-08-21 16:51] #70 closed

[2019-08-21 17:09] derickfan commented on #71
Now displays 5 ports with the most members

[2019-08-21 17:09] #71 closed

[2019-08-23 09:44] mary060196 commented on #84
Bullet point 1: Media Queries Added! Every device, whether mobile, tablet / ipad, etc., shows a pretty, large, clear and sequential webpage.
Bullet point 2: All four (2 visible only at portrait mode and two invisible) `skip-to-content` links added to the website for easier access to content when using mobile devices.
The issue was successfully implemented and, hence, is closed.

[2019-08-23 09:44] #84 closed

[2019-08-23 09:51] mary060196 commented on #78
Dear @LoadingUser3 ,
All media queries had been added shortly ago to the website. What it means: _any_ device from this moment and on displays a pretty and conveniently used webpage. Please refresh your browser and /or clean the cache in it (if you are using Chrome, for example, you could do this through the setting of your device. In most devices, you go to Settings -> Applications -> Installed A

[2019-08-23 09:51] #78 closed

[2019-08-23 09:54] mary060196 commented on #84
A few images:
![image](https://user-images.githubusercontent.com/52957236/63584032-2802fb00-c56a-11e9-92ee-d91f9ce1236f.png)
![image](https://user-images.githubusercontent.com/52957236/63584132-5680d600-c56a-11e9-9976-b057dd8e0466.png)
![image](https://user-images.githubusercontent.com/52957236/63584194-70bab400-c56a-11e9-89a7-ceb2c54e5d4e.png)

[2019-08-23 09:56] mary060196 commented on #24
Since the End Point has been successfully connected to each user's homepage, this issue is closed.
Thanks!

[2019-08-23 09:56] #24 closed

[2019-08-23 09:56] mary060196 commented on #59
Issue resolved and, thus, closed! Great job! :)

[2019-08-23 09:56] #59 closed

[2019-08-23 09:58] mary060196 commented on #79
@LoadingUser3 , please verify if the problem pertains. If it does, please re-open this issue and let know that the problem exists.
Thank you very much!

[2019-08-23 09:58] #79 closed

[2019-08-25 03:56] mary060196 opened #92 "App of the Month Form Template Added, but not Recognized through Re-Deployment"
First of all, thank you very much for addressing this issue. Here are the details:
1) I added an HTML file into the templates folder called `appOfTheMonthRegister.html`.
2) Corresponding JS file was added as well.
3) The Brooklyn College Ad in `base.html` was replaced by a `gif` file, and the `href` attribute was changed to `/app-of-the-month-register/`.
4) The `app.py` file was added the followin

[2019-08-25 04:22] mary060196 commented on #92
Great! It works now!
@derickfan , thank you very much for your assistance!!!

[2019-08-25 04:22] #92 closed

[2019-08-25 04:22] derickfan commented on #92
fixed there was a "end if" statement in the template without an "if" statement

[2019-08-25 04:23] mary060196 commented on #92
Ohh, I see it! My bad! Thank you for finding this!!!

[2019-08-25 09:36] mary060196 commented on #91
@derickfan and @Maker-Mark , the front end code for the App of the Month is ready; all whats is left is to retrieve the information from the form. The barebones for the app route are already in `app.py` such that the user is redirected to a new "app submitted" page. See lines 1024-1033 of the `app.py` file.
Thank you very much; good luck in the new semester!

[2019-09-02 06:54] mary060196 commented on #89
Addressing Bullet Points:
Bullet Point 1: Notifications button added. When there are new notifications, the button glows. Old (read) notifications shall be removed from the panel once the user sees them.
Bullet Point 2: `notifications.html` file + CSS + JS files created. The UI currently contains two examples: (1) comment to a post, and (2) comment to a comment.

Front End part is thereby complete